
 body{
     margin: 0;
     padding: 0;
     background-color: #f5f5f5;
     font-family: 'Roboto' , Arial ,sans-serif;
     margin-top: 100px;
 }
 
 nav{
     border-bottom-width: 2px;
     border-bottom-color: #ccc;
     border-bottom-style: solid;
     padding: 10px;
     margin-bottom: 15px;
     background-color: #fff;
     font-family: 'shrikhand',cursive;
     position: fixed;   
     left: 0;
     top:0;
     width: 100%;
 }
 li{
     display: inline-block;
     padding: 20px;
 }

 nav a{
     color: #000;
     text-decoration: none;
 }

 #body{
     padding: 0 10px 20px;
     height: 2000px;
 }